<div class="wrapper">
    <!-- Sidebar title -->
    <nav id="sidebar" ng-class="{true: 'active'}[data.sidebarCollapsed]">
        <div class="sidebar-header" ng-click = "goHome();" >
            <h3>SandersSuperStore</h3>
        </div>
        
        <!-- Sidebar links -->
        <ul class="list-unstyled components">
            <br>
            <p class = "sidebar-title">Main Menu</p>
            <li>
                <a href="#store" data-toggle="collapse" aria-expanded="false">Store</a>
                <ul class="collapse list-unstyled" id="store">
                    <li><a href="/store/browse">Browse products</a></li>
                    <li><a href="/store/cart">Shopping cart</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="content">
      <!-- Navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">

              <div class="navbar-header">
                <!-- Navbar burger-menu -->
                  <button type="button" ng-click = "toggleSidebar()" id="sidebarCollapse" class="btn btn-primary navbar-btn">
                      <i class="fa fa-bars"></i>
                  </button>
              </div>
              <!-- Menu bar links -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href = "/admin/home" ng-if = "isAdministrator()">Administrator page</a></li>
                    <li><a href = "/store/cart">My cart {{getNumberOfItems()}}</a></li>
                    <li><a ng-click = "logout();">Log out</a></li>
                  </ul>
              </div>
            </div>
        </nav>
        <div ui-view class="fadeZoom"></div>
    </div>
</div>
